
.entryPairLarge {
    margin-bottom: 15px; 
}

.entryPairMedium {
    margin-bottom: 15px; 
}

.entryPairSmall {
    margin-bottom: 15px; 
}

.entryPairLarge input[type="text"] {
    width: 90%;
}

.entryPairMedium input[type="text"] {
    width: 90%;
}

.entryPairSmall input[type="text"] {
    width: 90%;
}

input[type="text"] {
    padding-left:5px;
}

.bottomButtonLine {
    margin-bottom: 15px; 
    margin-top: 25px;
}

.infoBlock {
    margin-bottom: 10px; 
    margin-top: 10px;
    border-bottom-width: 10px;
    border-style: solid;
    background:lightgrey;
    border-color: white;
}

.protein.infoBlock {
    background:pink;
}

.kulhydrat.infoBlock {
    background:orange;
}

.fedt.infoBlock {
    background:lightyellow;
}

.vitaminer.infoBlock {
    background:lightgreen;
}

.mineraler.infoBlock {
    background:lightblue;
}

.andet.infoBlock {
    background:#0094ff;
}

.error_warning {
    color: #D8000C;
    background-color: #FFBABA; 
    font-size:1em;
    vertical-align:middle;
    margin: 10px 0px;
    padding:12px;
}

